<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TorteNS custom software</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="content-wrapper">
        <header>
            <span style="float:left; margin-left:15px;">Home</span>
            <span style="float:right; margin-right:15px;">Edita Bala</span>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
